body {
  font-family: roboto, Helvetica, sans-serif, sans-serif;
}
h1 {
  color: #686b74;
  font-size: 30px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
  color: black;
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 100;
  line-height: 19px;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
}
.overview {
  margin-bottom: 20px;
}
.weather-tempature img {
  margin-right: 15px;
  height: 64px;
  width: 64px;
}

.weather-tempature strong {
  color: blue;
  font-size: 40px;
  line-height: 1;
  font-weight: 300px;
}
.weather-tempature .units {
  position: relative;
  font-size: 16px;
  top: -18px;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}
.weather-forecast-temperature-min {
  opacity: 0.5;
}
.weather-forecast-temperature {
  font-size: 13px;
}
