body {
  font-family: roboto, Helvetica, sans-serif, sans-serif;
}

.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #dadce0;
  border-radius: 10px;
}

h1 {
  color: #686b74;
  font-size: 30px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
  color: black;
  font-size: 15px;
  font-weight: 100;
  line-height: 19px;
}
